<h1>Airbnb Test</h1>
<% if user_signed_in? %>
  <p>View Room Listings
  <li>
  <%= link_to('Rooms') %>        
  </li>
  </p>
  <p>View Bookings
  <li>
  <%= link_to('Bookings') %>        
  </li>
  </p>

<% end %>
