<% if user_signed_in? %>
  <li>
  <%= link_to "Rooms", rooms_path, class: "btn btn-primary" %>  
  </li>
  <li>
  <%= link_to "Bookings", bookings_path, class: "btn btn-primary" %>          
  </li>
    <li>
  <%= link_to "Room Search", rooms_search_path, class: "btn btn-primary" %>         
  </li>
<% end %>